
:root {
  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color: #bf2030;
  --theme-color-light: #f7273c;
  --theme-color-secondary: #cb0c22;
  --theme-color-pink: #e50e63;
  --theme-color-blue: #00abc0;
  --theme-color-orange: #f15d2a;
  --theme-color-silver: #c2c7c7;
  --theme-color-dark-blue: #2f5b9d;
  --theme-color-blue-light: #38bff1;
  --theme-color-green-light: #1ed760;
  --theme-color-dark-purple: #773282;
  --theme-color-purple: #7c5ac2;
}